


section#posts	{
	position:absolute;
	top:30%;
	left:25%;
	width:58%;
	border:1px solid black;
	min-height:100%;
	z-index:-1;
	}


article	{
	border:1px solid black;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
	height:30%;
	}
	
article#question	{
	height:10%;
}	

aside	{
	border:1px solid black;
	position:fixed;
	top:30%;
	left:5%;
	width:15%;
	right:5%;
	height:20%;
}

article.content	{
	margin:initial;
	border:1px solid black;
	height:51%;
	width:100%;
}