<!DOCTYPE HTML>
<html>
	<head>
		<title>Quora</title>
		<link type="text/css" rel="stylesheet" href="quora_nav.css"/>
		<link type="text/css" rel="stylesheet" href="quora_design.css"/>
		<script src="menu_script.js">
			
		</script>
	</head>
	<body onclick="hideAll();">
			<nav>
				<a href="/home" id="first">
					<img src="home.png" class="icons"></img><!--Home-->
				</a>
				<a href="/home" >
					<img src="read.png" class="icons"></img><!--<p>Read</p>-->
				</a>
				<a href="/answer">
					<img src="answer.png" class="icons"></img><!--<p>Answer</p>-->
				</a>
				<a href="javascript:displayNotification();">
					<img src="notification.png" class="icons"></img>
				</a>
				<div id="notification">
					<header>
							<a href="/notifications"><p>See all notifications</p></a>
							
					</header>
					<article>
					</article>
				</div>
				<a href="javascript:displayProfile();">
					<img src="persom.png" class="icons"></img>
				</a>
				<div id="profile">
				
					<a>
					Profile
					</a>
					<a>
					Blogs
					</a>
					<a>
					Messages
					</a>
					<a>
					Your Content
					</a>
					<a>
					Stats
					</a>
					<a>
					Settings
					</a>
				</div>
				<div id="search">
				<input type="text" name="search" placeholder="Search Quora"></input>
				</div>
			
			</nav>
				

			<aside>
				
			</aside>
			<section id="posts">
				<article>
				
				</article>
				<article>
				</article>
				<article>
				</article>
				<article>
				</article>
			</section>
	</body>
</html>	